.cover {
  height: 80vh;
  overflow: hidden;
  margin-top: -80px; // navbar height
  border-bottom: 0.5em solid $info;
  &::before {
    content: "";
    height: 40vh;
    opacity: 0.8;
    width: 100%;
    z-index: 2;
    position: relative;
    background: linear-gradient(0deg,rgba(0,0,0,0) 0,#000 100%);
    display: block;
    position: absolute;
  }
  img {
    z-index: 1;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    height: 100%;
    width:100%;

    -webkit-animation-name: stretch;
            animation-name: stretch;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    @-webkit-keyframes stretch {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      100% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
    }
    @keyframes stretch {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      100% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
    }
  }
}
