.site-footer {
  margin-top: 2em;
  border-top: 0.5em solid $info;
  text-align: center;
  @extend .bg-dark;
  @extend .text-light;
  a {
    @extend .text-light;
  }
  .row {
    padding: 1.5em 0 1em;
    .social {
      padding: 1.5em 0;
      ul{
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 1em;
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid $info;
    padding-top: 1em;
  }
}
