form.comment-form {
    @extend .row;
  p {
    @extend .form-group;
    &.comment-form- {
      &author,
      &email,
      &url {
        @extend .col-lg-4;
      }
      &comment {
        // width: 100%;
        @extend .col-lg-12;
      }
    }
    &.form-submit {
      text-align: right;
      margin-top: 0.5em;
      @extend .col-lg-12;
    }
    &.comment-notes {
      display: none;
    }
  }
  input, textarea {
    @extend .form-control;
    border-radius: 0;
    font-size: 0.9em;
    &[type="submit"] {
      @extend .btn;
      @extend .btn-outline-secondary;
      border-radius: 0;
      font-size: 0.7em;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}

.comment-respond {
  margin-top: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}
