body {
  // @include mdc-typography-base;
}

.comment-respond,
.comment-list-wrap,
.fp-wrap,
article.post,
aside#secondary,
.related-posts {
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
