body {
  font-size: 1rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.1rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 1.3rem;
  }
}

b, strong {
  font-weight: 600;
}

article a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.fp-grid,
.archive {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

aside{
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
  }
  h2 {
    font-size: 1.3rem;
  }
}

article,
  aside {
  ul, ol {
    &:not(.wp-block-gallery)  {
      margin: 0 24px 1.75em;
      padding: 0;
      li {
        margin: 0.5em 0 0.5em;
      }
    }
  }

  ul > li:not(.blocks-gallery-item) {
    list-style: none;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: transparent;
      width: 12px;
      height: 1px;
      border-top: 1px solid;
      left: -24px;
      top: 16px;
      color: $gray-700;
    }
  }
}

.title {
  text-align: center;
}

.cover-title .entry-meta * {
  font-size: 1rem;
  padding: 3px;
}

form label,
.comment-date,
.entry-meta-wrap *,
.related-meta,
.content-meta * {
  display: block;
  text-align: center;
  font-size: 0.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

form label,
.comment-date {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
  color: $gray-900;
  // Linien umschließen h5
  &.lines {
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 40px;
    color: $gray-700;
    &:before,
    &:after {
      background-color: $gray-400;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      opacity: 0.5;
    }
    &:before {
      right: 8px;
      margin-left: -50%;
    }
    &:after {
      left: 8px;
      margin-right: -50%;
    }
  }
}
